---
- name: Wait for Container to become reachable
  hosts: all
  tags: step1
  gather_facts: false
  tasks:
    - name: Wait for SSH to come up
      ansible.builtin.wait_for_connection:
        timeout: 300  # Adjust as needed
        delay: 0     # Initial delay before polling
        sleep: 5      # Time between retries

- name: Microk8s snap install
  hosts: kubernetes
  tags: step1
  gather_facts: true
  tasks:
    - name: step 1 - all in k8s
      ansible.builtin.copy:
        content:  "Install microk8s snap on {{ inventory_hostname }}@{{ static_ip }}\n"
        dest: /home/ubuntu/step1

- name: Join to Cluster
  hosts: nodes
  tags: step2
  gather_facts: true
  tasks:
    - name: step 2 - all in nodes
      ansible.builtin.copy:
        content:  "Join {{ inventory_hostname }}@{{ static_ip }} to cluster\n"
        dest: /home/ubuntu/step2

- name: Configure Cluster
  hosts: main
  tags: step3
  gather_facts: true
  tasks:
    - name: step 3 - main
      ansible.builtin.copy:
        content:  "Configure cluster from {{ inventory_hostname }}@{{ static_ip }}\n"
        dest: /home/ubuntu/step3

- name: Deploy Infrastructure Services to Cluster
  hosts: main
  tags: step4
  gather_facts: true
  tasks:
    - name: step 4 - main
      ansible.builtin.copy:
        content:  "Deploy Infrastructure Services to cluster from {{ inventory_hostname }}@{{ static_ip }}\n"
        dest: /home/ubuntu/step4

- name: Configure KUBEVAULT
  hosts: vaults
  tags: step5
  gather_facts: true
  tasks:
    - name: step 5 - vault
      ansible.builtin.copy:
        content:  "Configure Vault for Kubernetes authentication from {{ inventory_hostname }}@{{ static_ip }}\n"
        dest: /home/ubuntu/step5

- name: Deploy Microservices to Cluster
  hosts: main
  tags: step6
  gather_facts: true
  tasks:
    - name: step 6 - main
      ansible.builtin.copy:
        content:  "Deploy Microservices to cluster on {{ inventory_hostname }}@{{ static_ip }}\n"
        dest: /home/ubuntu/step6